<article class="author">
  <header>
    <h2><%= @author.name %></h2>
  </header>
  <%= image_tag @author.image_url %>
  <p><%= @author.biography %></p>
  <h3>Details</h3>
  <p><label>Date of Birth:</label> <%= @author.dob %></p>
  <p><label>Nationality:</label> <%= @author.nationality %></p>
  <p><label>Awards:</label> <%= @author.awards %></p>
</article>

<h3>Publications</h2>
<!-- should be a partial -->
<%= render "/shared/list_books" %>
