<p id="notice"><%= notice %></p>

<h1>All Books</h1>


<% form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil %>
  </p>
<% end %>


<!--showing books with pagination  -->
<%= page_entries_info @books %>

<%= render "/shared/list_books" %>

<%= paginate @books %>

<br>
