<h1>Listing Reservations</h1>

<ol>
<% @reservations.each do |reservation| %>
  <li><div style="background-color: #CCCCCC; overflow: hidden;"><p><%= image_tag reservation.book.image_cover_url, :style => "margin-left: 20px; margin-top: 10px; margin-bottom: 10px; margin-right: 5px;float:left;" %>
  <span style="top: 40px; position: relative;">
    <%= link_to(reservation.book.title, reservation.book) %><br/>
    Reservation date: <%= reservation.reserved_on.strftime('%B %d, %Y') %><br/>
    Due date: <%= reservation.due_on.strftime('%B %d, %Y') %>
  </span>
  <div id="deleteButton" class="bookButton" style="float:right; margin-top: 35px; margin-right: 10px;">
  <%= button_to 'Return', "/books/#{reservation.book.id}/reservations/#{reservation.id}" ,method: :delete %>
</div>
  </p>
</div></li>
<% end %>
</ol>